/* ----------------------- 
fonts
------------------------- */

@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

.Roboto {
    font-family: 'Roboto', sans-serif;
}
.Roboto-condensed {
    font-family: 'Roboto Condensed', sans-serif;
}
.F-size-25 {
    font-size: 25px;
}
.F-size-22 {
    font-size: 22px;
}
.F-size-20 {
    font-size: 20px;
}
.F-size-19 {
    font-size: 19px;
}
.Line-height-23 {
    line-height: 23px;
}

/* ----------------------- 
colors
------------------------- */
.Bg-light-blue {
    background-color:  #D0E5F4;
}
.Bg-light-red {
    background-color:  #FF9494;
}
.Bg-black {
    background-color:  #303030;
}

/* -----------------------
buttons
------------------------ */
.Crud-btn {
    height: 41px;
    position: static;
    border-radius: 40px;
    margin-bottom: 50px;
    margin-top: 5px;
    font-size: 27px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 7px 0px 7px 0px;
}
.Del-btn {
    font-size: 27px;
    width: 45%;
}
.Edit-btn {
    font-size: 27px;
    width: 45%;
}
.Edit-btn {
    width: 45%;
}
.Main-btn {
    position: static;
    width: 100%;
    height: 41px;
    border-radius: 40px;   
    border:  none;
}
.Edit-btn:hover, .Main-btn:hover, .Close-btn:hover {
    background-color: rgb(135, 175, 204);
}
.Del-btn:hover {
    background-color: rgb(242, 105, 105);
}
.Close-btn {
    position: absolute;
    top: 18px;
    right: 18px;
    width: 41px;
    height: 41px;
    border-radius: 40px; 
    padding: 0 0 2px 0;
    margin: 0;
}
.Close-btn-img {
    width: 18px;
    height: 18px;
}




.Income-wrapper {
    color: #303030;
    margin: 0.5rem;
}


.IncomeNav {
    background: white;
    flex-wrap: nowrap;
    border-radius: 10px;
    padding: 0 2.95%;
    border-radius: 30px;
    display: flex;
    justify-content: space-evenly;
}

.width30 {
    width: 30%;
}

.IncomeSearch {
    background: white;
    border-radius: 30px;
}
.ExpenceSearch-title {
    margin-bottom: 10px;
}


.IncomeNewEntry {
    background: white;
    position: relative;
    border-radius: 30px;
}
.ExpenceNewEntry-title {
    margin-bottom: 10px;
}
.IncomeNewEntry-input {
    border-radius: 40px;
    height: 41px !important;
    border: 3px solid #E9E9E9;
    color: #868686;
    padding: 0 10px 0 30px !important;
    margin: 0 0 7px 0 !important;
}


.IncomeEntries {
    height: 100%;    
    background: white;
    border-radius: 30px;
    position: relative;
}

.IncomeEntries-fields {
    width: 65%;
    margin-right: 85px;
}

.IncomeEntries-buttons {
    width: 35%;
}