@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

.Roboto-condensed {
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 400;
}
.Font-20{
    font-size: 20px;
}
.Font-25{
    font-size: 25px;
}
.Dialog-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background: white;
    padding: 10px 40px 40px 40px;
    border-radius: 30px;
}
.Dialog-background{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
}
.Dialog-title{
    padding-bottom: 40px;
}
.Buttons-container{
    display: flex;
    align-items: center;
}
.Btn-confirm{
    background-color: #D0E5F4;
    Width: 105px;
    height: 41px;
    border-radius: 40px;
    border: none;
    cursor: pointer;
}
.Btn-close{
    margin-left: 20px;
    background-color: #FF9494;
    Width: 105px;
    height: 41px;
    border-radius: 40px;
    border: none;
    cursor: pointer;
}
.Btn-x{
    margin-right: -250px;
    padding-bottom: 20px;
}
.Btn-confirm:hover{
    background-color: rgb(135, 175, 204);
}
.Btn-close:hover{
    background-color: rgb(242, 105, 105);
}