.BP9container2 {
    background-color: #fff;
    border-radius: 30px;

    padding: 0 5%;
    position: relative;
    overflow: visible;
}

.BP9-2-heading {
    padding: 41px 0 32px;
}

.BP9clrGray {
   color: #868686;
}
.BP9selectContainer{
    width: 100%
}




