/* Container 1 */
.BP9container1 {
    background-color: #fff;
    border-radius: 30px;
    
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 0 5%;
}

/* btn */
.BP9-btn {
    background-color: #D0E5F4;
    width: 30%;
    height: 41px;
    border-radius: 40px;

    display: flex;
    justify-content: center;
    align-items: center;
}
.BP9-btn:hover{
    cursor: pointer;
    background-color: rgb(135, 175, 204);
}
.BP9-selectedbtn{
    background-color: #87AFCC;
}