.BP9container3 {
    background-color: #fff;
    width: 620px;
    height: 503px;
    border-radius: 30px;

    padding: 0 71px;
    margin: 0 15px;
}

.BP9-3-heading{
    padding: 42px 0 36px;
}

.my-33px {
    margin: 33px 0;
}
