/* ----------------------- 
fonts
------------------------- */

@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

.Roboto-condensed {
    font-family: 'Roboto Condensed', sans-serif;
}
.F-size-25 {
    font-size: 25px;
}



.Nav-container {
    background-color: #FFFFFF;
    border-radius: 30px;
    padding: 0 71px;
    color: #303030;
    display: flex;
}

.Nav-logout {
    font-size: 25px;
    padding: 5px 15px 0;
}

.Nav-greeting {
    padding-top: 11px
}