.BP9container4{
    position: relative;
    background-color: #fff;
    /* height: 842px; */
    border-radius: 30px;

    padding: 0 5%;
}

/* x button */
.BP9-btnX {
    background-color: #D0E5F4;
    width: 41px;
    height: 41px;
    border-radius: 40px;

    position: absolute;
    top: 18px;
    right: 18px;
}

.BP9-btnX:hover{
    background-color: rgb(135, 175, 204);
}

/* heading */
.BP9heading{
    padding: 74px 0 37px;
}

/* ListContainer */
.BP9-ListContainer {
    width: 100%;
    height: 65%;

    padding: 0 6px 0 0;
    overflow-y: scroll;
}


.BP9-ListContainer::-webkit-scrollbar {
    width: 10px;
}

.BP9-ListContainer::-webkit-scrollbar-thumb {
    border-radius: 20px;
    background-color: #D0E5F4;
}

.BP9-expensesContainer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.mb-28px {
    width: 50%;
    margin-bottom: 28px;
}
.BP9List-btnContainer {
    display: flex;
    justify-content: space-between;
    width: 35%;
    height: 50px;
}
.BP9list-btn {
    width: 45%;
    
    height: 41px;
    border-radius: 40px;
    
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 27px;
    padding: 7px 0px 10px 0px;

}

.BP9list-btnBlue{
    background-color: #D0E5F4;
}
.BP9list-btnRed{
    background-color: #FF9494;
}
.BP9list-btnBlue:hover{
    background-color: rgb(135, 175, 204);
}
.BP9list-btnRed:hover{
    background-color: rgb(242, 105, 105);
}


.iconGray {
    color: #868686;
}

