Small{
    display: block;
    margin-top: -1px;
}
 
.Expenses-section{
    height: 950px;
    width: 620px;
    margin-right: 8px;
    margin-bottom: 8px;
    margin-top: 8px;
    position: relative;
    background-color: white;  
    border-radius: 30px;
    
    
}
.main-expence-box{
    width: 491px;
}

.expense-submit-button{
    width: 100%;
    height: 56px;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #D0E5F4;
    color: black;
    border: 4px solid #D0E5F4;
    font-family: Roboto Condensed;
    font-size: 20px;
    font-weight: 400;
    line-height: 23px;

}
.expenses-extend-button{
    width: 94%;
    height: 56px;
    margin-top: 46px;
    background-color: #D0E5F4;
    color: black;
    border: 4px solid #D0E5F4;
    font-family: Roboto Condensed;
    font-size: 20px;
    font-weight: 400;
    line-height: 23px;
    


}
.expences-addition {
    height: 300px;
    position: relative;
    width: 488px;
    margin-left: 69px;
    margin-right: 63px;
    margin-top: 110px;  
 }
 .form-group label {
    display: block;
  }
  #expence-name{
    margin-top: 0px;
 }
 .form-control{
    height: 56px;
   margin-top: 24px;
   border-radius: 40px;
 }
 
.main-expenses{
    
    margin-left: 61px;
    margin-right: 33px;
    height: 500px;
    width: 516px;
    
}
.main-expence-name{  
    font-family: Roboto Condensed;
    font-size: 20px;
    font-weight: 400;
    line-height: 23px;
    
    
}
.main-expence-category, .main-expence-date{
    font-family: Roboto;
    font-size: 20px;
    font-weight: 300;
    line-height: 23px;
    

}
.main-expence-sum{
    font-family: Roboto Condensed;
    font-size: 30px;
    font-weight: 400;
    line-height: 35px;
    padding-top: 50px;
    padding-right: 24px;

}
.main-expence-header{
    font-family: Roboto Condensed;
    font-size: 25px;
    font-weight: 400;
    line-height: 29px;

    padding-top: 50px;
}
.main-expence-amount{
    font-family: Roboto Condensed;
    font-size: 22px;
    font-weight: 400;
    line-height: 26px;

    
    
}
.Islaida1, 
.Islaida2, 
.Islaida3{
    padding-top: 50px;
}