.BP9container3 {
    background-color: #fff;
    border-radius: 30px;

    padding: 0 5%;
    position: relative;
}

.BP9Container3-1 {
    /* overflow-y: auto;
    overflow-x: hidden;
    height: 25%;
    padding-right: 9.6px; */
}

.BP9Container3-1::-webkit-scrollbar {
    width: 10px;
}
.BP9Container3-1::-webkit-scrollbar-thumb {
  border-radius: 20px;
  background-color: #D0E5F4;
}

.BP9-3-heading{
    padding: 42px 0 36px;
}

.my-20 {
    margin: 7px 0 7px;
}
.BP9button:hover{
    background-color: rgb(135, 175, 204);
}
