html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  margin: 7px;
}

Body {
  background-color: #D0E5F4;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

/* Ratas styling */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400;700&display=swap');


body {
  background: rgba(208, 229, 244, 1);
}

.ratas {}

.ratas1 {
  font-family: 'Roboto Condensed';
  font-size: 25px;

  /* height: 5.5%; */
  display: flex;
  align-items: center;
  padding: 20px 0;
  background-color: white;
  border-radius: 30px;

}

.ratas1__select {
  font-family: 'Roboto Condensed';
  text-align: center;

  display: block;
  margin: 0 auto;

  border: none;
  background-color: white;

  overflow-y: auto;
}

option {
  font-family: 'Roboto Condensed';
}

.ratas2 {
  font-family: 'Roboto Condensed';
  font-size: 25px;
  font-weight: 400;

  /* height: 84%; */
  padding-top: 90px;

  background-color: white;
  border-radius: 30px;
}

.ratas2__main {
  width: 431px;
  height: 435px;
  margin: 0 auto;

  /* border: 30px solid rgba(129, 165, 255, 1); */
  /* border-radius: 100%; */

  /* box-shadow: 10px 10px 20px 0px rgba(166, 180, 200, 0.7); */



}

.ratas2__data {

  margin: 0 auto;
  margin-top: 93px;
}

/* .ratas2_data> {
  vertical-align: middle;

} */

.ratas2__data td:nth-of-type(2) {
  padding-right: 96px;

}

.ratas2__data td:nth-of-type(1) {
  padding-bottom: 10px;

}

.ratas2__data td {

  line-height: 62px;

  vertical-align: middle;
}

.ratas2__data tr td:nth-of-type(3) {
  padding-top: 10px;
  float: inline-end;
}

.ratas2__data span {
  font-size: 62px;
  vertical-align: middle;

  margin-right: 30px;
  padding-top: 15px;


}

.pie {
  width: 431px;
  display: block;
  margin: 0 auto;

}

.pie circle {
  fill: none;
  stroke-width: 5;
  stroke-dasharray: 55 110;

}

@media(max-width:652px) {
  .ratas1 {
    font-family: 'Roboto Condensed';
    font-size: 25px;

    margin-bottom: 0;

    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }

  .ratas2 {
    font-family: 'Roboto Condensed';
    font-size: 25px;


    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }
}