/* Colors */
:root {
    /* Čia tiek daug spalvų, dėl to kad vartotojas galėtu
    jas pasirinkt, naudot kai kuria ... arba tai automatiškai 
    pasidarytu, random spalva pasirinktu */
        /* Colors for expense bars */
        --grayBar: #E9E9E9;
        --sharpPink: #ef7cf1;
        --bubblegumPink: #f17cc0;
        --purple: #a57cf1;
        --blue: #867cf1;
        --lightBlue: #7cd4f1;
        --green: #93F17C;
        --yellow: #eff17c;
        --orange: #f1a37c;
        --red: #f17c7c;
        --: ;
}


/* Container */
.expenses-container {
    position: relative;
    height: 40%;
    width: 100%;
    padding-right: 9.6px;
    overflow-y: scroll;
    overflow-x: hidden;
}
.expense-box {
    margin-bottom: 28px;
}

/* Scrollbar */
.expenses-container::-webkit-scrollbar {
    width: 10px;
}
.expenses-container::-webkit-scrollbar-thumb {
  border-radius: 20px;
  background-color: #D0E5F4;
}

/* Default bar */
.bar {
    background-color: var(--grayBar);
    width: 100%;
    height: 40px;
    border-radius: 40px;
}
/* unique bars */
.blueBar {
    background-color: var(--blue);
    width: 85%;
    height: 40px;
    border-radius: 40px;
}
.greenBar {
    background-color: var(--green);
    height: 40px;
    width: 50%;
    border-radius: 40px;
}
.redBar {
    background-color: var(--red);
    height: 40px;
    width: 20%;
    border-radius: 40px;
}